extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Bicicleteros
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Servicios
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#portfolio') Lugares
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  // Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-uppercase.text-white.font-weight-bold La Primera Comunidad Online De Bicicletistas
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | Te presentamos la primera comunidad de bicicleteros de Latinoamérica, que busca usar sustentabilidadd para dar más motivación a sus viajes
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Conoce más
  // About
  section#about.page-section.bg-primary
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.text-white.mt-0 Esto Es Lo Que Tu Necesitas!
          hr.divider.light.my-4
          p.text-white-50.mb-4
            | Lugares para pasar el día o darte una vuelta por las más hermosos lugares de todo Santiago y Regiones
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Conoce más
  // Services
  section#services.page-section
    .container
     h2.text-black.mt-0.text-right Lugares Recomendados el Día de Hoy
      #main_map

  // Portfolio
  #portfolio
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/1.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/1.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Santiago
              .project-name Juan Alonzo
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/2.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/2.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Temuco
              .project-name Felixia Fuentes
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/3.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/3.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Zapallar
              .project-name Renato Salinas
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/4.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/4.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Papudo
              .project-name Juan Soto
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/5.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/5.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Santiago 
              .project-name Luis Parra
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/img/portfolio/fullsize/6.jpg')
            img.img-fluid(src='images/img/portfolio/thumbnails/6.jpg' alt='')
            .portfolio-box-caption.p-3
              .project-category.text-white-50 Puerto Varas
              .project-name Jhonny Aguirre
  // Call to action
  section.page-section.bg-dark.text-white
    .container.text-center
      h2.mb-4 ANIMATE A PUBLICAR TU HISTORIA
      a.btn.btn-light.btn-xl(href='https://startbootstrap.com/themes/creative/') Hazlo Aquí
  // Contact
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 Comunicate con nostros
          hr.divider.my-4
          p.text-muted.mb-5
            | Se parte de esta gran comunidad y participa de eventos y beneficios
      .row
        .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
          i.fas.fa-phone.fa-3x.mb-3.text-muted
          div +1 (555) 123-4567
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          // Make sure to change the email address in BOTH the anchor text and the link target below!
          a.d-block(href='mailto:contact@yourwebsite.com') contact@yourwebsite.com
  // Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2020 - Bicicleteros
      
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

  // Core theme JS
  script(src='javascripts/scripts.js')

  //script map
  script(src='javascripts/map.js')
